body {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  row-gap: 16px;
  column-gap: 8px;
}

.header {
  background-color: cyan;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.content {
  background-color: gray;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

.nav {
  background-color: olivedrab;
  grid-column: 4 / 5;
  grid-row: 2 / span 2;
}

.footer {
  background-color: orangered;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}
